#outbox {
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 10px;
}

#headimg {
    max-width: 100%;
    min-width: 100%;
    margin: 10px 0px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#mainContainer {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

#content {
    border: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hand {
    cursor: pointer;
}


@media screen and (max-width: 767px) {
    #headimg {
        content: url("http://www.camt.cmu.ac.th/th/logo/camt_horizontal.jpg");
    }

    #content {
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 767px) {
    #headimg {
        content: url("http://www.camt.cmu.ac.th/th/logo/camt_paper.jpg");
    }
}